@font-face {
  font-family: Cabinet Grotesk;
  src: "../fonts/CabinetGrotesk-Black.woff";
}

.card__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.card__title-block {
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 20px;
}
.card__title {
  background-color: #fff;
  border-radius: 4px;
  padding: 2px 12px;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}

.card__close {
  height: 20px;
  width: 20px;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}


.card {
  justify-content: center;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid 1pt black;
  border-radius: 25px;
  height: 200px;
  width: 250px;
}

.card__job-pubdate {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

