@font-face {
  font-family: Cabinet Grotesk;
  src: "../fonts/CabinetGrotesk-Regular.woff";
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  font-family: Cabinet Grotesk;
  font-style: regular;
  padding: 0 20px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 10px;
}

.header__avatar-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__signup-button {
  display: inline-flex;
  padding: 18px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  border: 2px solid var(--Active, #2f71e5);
  background: var(--Active-overlay, #fff);
}

.header__signin-button {
  display: inline-flex;
  padding: 18px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  border: 2px solid var(--Active, #2f71e5);
  background: var(--Active-overlay, #fff);
  margin-right: 20px;
}

.header__avatar {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.header__about-link {
  display: inline-flex;
  padding: 18px 32px;
  align-items: flex-start;
  gap: 10px;
  height: 80px;
  flex-shrink: 0;
  color: #000000;
  margin-top: 60px;
}

.header__home-link {
  display: inline-flex;
  padding: 18px 32px;
  align-items: flex-start;
  gap: 10px;
  height: 80px;
  flex-shrink: 0;
  color: #000000;
  margin-top: 60px;
  margin-left: 900px;
}

.header__burger-menu {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header__home-link {
    display: none;
  }

  .header__about-link {
    display: none;
  }

  .header__signin-button {
    display: none;
  }

  .header__signup-button {
    border: none;
  }

  .header__burger-menu {
    display: flex;
    background-image: url("../../images/mobileHeaderMenu.svg");
    width: 44px;
    height: 44px;
  }

  .header__logo {
    width: 80px;
    height: 40px;
  }
}
